@import '../Abstract/Mixin';

.commingsoon-main{
    background-color: #ff1750ed;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem;
    padding-bottom: 2rem;
    color: white;

    @include mobile{
        max-width: 100vw;
        height: 100vh;
        // padding: 2rem;
    }

    .subhead-1{
        font-size: 5rem;
        font-weight: 700;

        @include mobile{
            font-size: 2.5rem;
        }
    }
    .subhead-2{
        font-size: 2rem;
        @include mobile{
            font-size: 1.5rem;
        }
    }
    .subhead-3{
        padding-top: 3.5rem;
        font-size: 6rem;
        font-weight: 700;

        // font-weight: 700;
        @include mobile{
            padding-top: 5rem;
            width: 135%;
            font-size: 2.6rem;
            // background-color: black;
        }
        @include tablet{
            width: 145%;
        }
    }
    .subhead-4{
        width: 20%;
        font-size: 2rem;

        @include mobile{
            width: 100%;
            font-size: 1.5rem;
            padding-top: 1.5rem;
        }

        @include tablet{
            width: 44%;
        }
    }
    .subhead-input{
        padding-top: 3rem;
        display: flex;
        gap: 1rem;

        @include mobile{
            padding-top: 6rem;
        }
        @include tablet{
            width: 60%;
            justify-content: space-between;
            // background-color: green;
        }

       .input-form{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        @include mobile{
            flex-direction: column;
            width: 100%;
        }
        @include tablet{
            flex-direction: column;
            width: 100%;
        }
        .inp-email{
            padding: 0.8rem;
            border: none;
            border-radius: 20px;
            width: 20vw;

            @include mobile{
                width: 150%;
            }
            @include tablet{
                width: 100%;
            }
        }
        .submit{
            padding: 0.8rem;
            border-radius: 20px;
            width: 8vw;border: none;
            background-color: black;
            color: white;
            font-size: 1.2rem;
            cursor: pointer;

            @include mobile{
                width: 90%;
            }
            @include tablet{
                width: 60%;
            }
        }
       }
    }
    .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: white;
        padding-top: 8rem;
        padding-bottom: 0rem;

        @include tablet{
            padding-top: 2rem;
        }

        .twitter, .instagram, .facebook{
            border-radius: 50%;
            padding: 0.5rem;
            background-color: black;
        }
    }
}